.brand-logo img {
    width: 150px
}
.cardStyle{
    background-size: cover; 
    background-position: center; 
    min-height: 200px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}
.cardStyle span{
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
}
.bienvenida h1{
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}
.bienvenida h6{
    text-transform: uppercase;
    text-decoration: wavy;
    font-size: 1em;
    font-weight: 600;
    font-style: oblique;
}
.bienvenida p{
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    line-height: 2em;
}
.bienvenida a{
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
    gap: 20px;
    padding: 20px;
}

/* Ajusta el contenido de texto a la izquierda */
.text-content {
    flex: 1;
    min-width: 300px;
    max-width: 50% !important; 
    text-align: left;
}

/* Ajusta la imagen a la derecha */
.content-container img {
    flex: 1;
    max-width: 45%; /* Limita el tamaño de la imagen */
    height: auto;
    display: block;
    margin: 0 auto; /* Asegura que la imagen esté centrada */
}

/* Responsivo: en móviles, todo se apila en columna */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content, 
    .content-container img {
        max-width: 100% !important;
    }
}

/* Sección de información adicional */
.full-width-info {
    width: 100%;
    background-color: #f4f4f4; /* Fondo similar al diseño */
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}






