.brand-logo img {
    width: 150px
}
.cardStyle{
    background-size: cover; 
    background-position: center; 
    min-height: 200px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}
.cardStyle span{
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #000000;
}
.bienvenida h1{
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}
.bienvenida h6{
    text-transform: uppercase;
    text-decoration: wavy;
    font-size: 1em;
    font-weight: 600;
    font-style: oblique;
}
.bienvenida p{
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    line-height: 2em;
}
.bienvenida a{
    font-size: 1em;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    
}


.button {
    width: 100%;
    max-width: 400px;
    background-color: #263238;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #272e31;
    transition : 0.3s   
}
.formulario {
    width: 100%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    border-color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input {
    border-radius: 6px;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
}
